<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <!--    <style src="/css/style.css"></style>-->
    <link href="/css/home-page.css" rel="stylesheet">
    <link href="/css/modal.css" rel="stylesheet">
</head>
<body>
<div th:if="${allNews.empty}">
    <h2>At the moment there is no news</h2>
    <div>
        <a href="/news/create" class="btn btn-dark mx-auto">Create</a>
    </div>
</div>
<div th:unless="${allNews.empty}">
    <div style="text-align: left;">
        <a href="/news/create" class="btn btn-dark">Create</a>
    </div>
    <table class="table mt-5">
        <thead class="table-light">
        <tr>
            <th>Header</th>
            <th>Time</th>
            <th>Date</th>
            <th class="action-column" colspan="4">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="news: ${newsOfPages}" th:id="${news.id}">
            <td th:text="${news.header}"></td>
            <td th:text="${news.createTimeAt}"></td>
            <td th:text="${news.createDateAt}"></td>
            <td>
                <a th:href="'/news/show/' + ${news.id}" class="btn btn-sm btn-outline-dark">Show more</a>
            </td>
            <td>
                <a th:href="'/news/edit/' + ${news.id}" class="btn btn-sm btn-outline-dark">Edit</a>
            </td>
            <td>
                <form th:action="@{/news/share/{id}(id=${news.id})}" method="GET">
                    <a th:href="'/news/share/' + ${news.id}" class="btn btn-sm btn-outline-dark">Share</a>
                </form>

                <!--                MODAL SHARE-->
                <!--                <form th:action="@{/news/share/{id}(id=${news.id})}" method="GET">-->
                <!--                    <button class="btn btn-sm btn-outline-dark" onclick="openModalShare(this)"-->
                <!--                            th:data-news-id="${news.id}" type="button">Share-->
                <!--                    </button>-->
                <!--                </form>-->
            </td>
            <td>
                <form th:action="@{/news/delete/{id}(id=${news.id})}" method="POST">
                    <button class="btn btn-sm btn-outline-dark" type="submit">Delete</button>
                </form>

                <!--                Ó ÌÅÍß ÊÎÄ ÍÅ ÐÀÁÎÒÀË -->
                <!--                <button class="btn btn-sm btn-outline-dark" onclick="openModalRemove(this)"&ndash;&gt;-->
                <!--                    th:data-news-id="${news.id}"  type="button">Delete</button>-->
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li th:if="${newsOfPages.number > 0}" class="page-item">
                <a class="btn btn-sm btn-outline-dark"
                   th:href="@{/news/home(page=${newsOfPages.number - 1}, size=${newsOfPages.size})}"
                   tabindex="-1">Previous</a>
            </li>

            <li th:each="pageNumber : ${#numbers.sequence(0, newsOfPages.totalPages - 1)}"
                th:class="${pageNumber == newsOfPages.number ? 'page-item active' : 'page-item'}">
                <a class="btn btn-sm btn-outline-dark"
                   th:href="@{/news/home(page=${pageNumber}, size=${newsOfPages.size})}"
                   th:text="${pageNumber + 1}"></a>
            </li>

            <li th:if="${newsOfPages.number < newsOfPages.totalPages - 1}" class="page-item">
                <a class="btn btn-sm btn-outline-dark"
                   th:href="@{/news/home(page=${newsOfPages.number + 1}, size=${newsOfPages.size})}">Next</a>
            </li>
        </ul>
    </nav>

    <div id="modal-temp" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="main-content">

            </div>
            <div style="padding-top: 10px" id="controller-panel">

            </div>
        </div>
    </div>


    <!--    MODAL REALISATION-->
    <!--    <div id="modal-share-temp" class="modal">-->
    <!--        <div class="modal-content">-->
    <!--            <div>-->
    <!--                <img th:src="@{'data:image/png;base64,' + ${base64Image}}" alt="QR Code"/>-->
    <!--            </div>-->

    <!--            <input type="text" th:value="${url}" id="myInput" readonly>-->
    <!--            <button onclick="copyText()">Copy text</button>-->

    <!--            <div class="buttons">-->
    <!--                <button type="button" onclick="window.location.href='/news/home'">Return</button>-->
    <!--            </div>-->

    <!--            <div class="main-content">-->

    <!--            </div>-->
    <!--                <div style="padding-top: 10px" id="controller-share-panel">-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

</div>
</body>
<script src="/js/copyText.js"></script>
<script src="/js/modal.js"></script>
</html>
