<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Rich Text Editor</title>
    <!-- FontAwesome Icons -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
            rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/modal.css"/>

    <style>

    </style>
    <link href="/css/editor.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="options">

        <!-- Text Format -->
        <button id="bold" class="option-button format button-controller-bar">
            <i class="fa-solid fa-bold"></i>
        </button>
        <button id="italic" class="option-button format button-controller-bar">
            <i class="fa-solid fa-italic"></i>
        </button>
        <button id="underline" class="option-button format button-controller-bar">
            <i class="fa-solid fa-underline"></i>
        </button>
        <button id="strikethrough" class="option-button format button-controller-bar">
            <i class="fa-solid fa-strikethrough"></i>
        </button>
        <button id="superscript" class="option-button script button-controller-bar">
            <i class="fa-solid fa-superscript"></i>
        </button>
        <button id="subscript" class="option-button script button-controller-bar">
            <i class="fa-solid fa-subscript"></i>
        </button>

        <!-- List -->
        <button id="insertOrderedList" class="option-button button-controller-bar">
            <div class="fa-solid fa-list-ol"></div>
        </button>
        <button id="insertUnorderedList" class="option-button button-controller-bar">
            <i class="fa-solid fa-list"></i>
        </button>

        <!--Table-->
        <button id="addTable" class="button-controller-bar">
            <i class="fa-solid fa-table"></i>
        </button>

        <!-- Undo/Redo -->
        <button id="undo" class="option-button button-controller-bar">
            <i class="fa-solid fa-rotate-left"></i>
        </button>
        <button id="redo" class="option-button button-controller-bar">
            <i class="fa-solid fa-rotate-right"></i>
        </button>

        <!-- Link -->
        <button id="createLink" class="adv-option-button button-controller-bar">
            <i class="fa fa-link"></i>
        </button>
        <button id="unlink" class="option-button button-controller-bar">
            <i class="fa fa-unlink"></i>
        </button>

        <!-- Alignment -->
        <button id="justifyLeft" class="option-button align button-controller-bar">
            <i class="fa-solid fa-align-left"></i>
        </button>
        <button id="justifyCenter" class="option-button align button-controller-bar">
            <i class="fa-solid fa-align-center"></i>
        </button>
        <button id="justifyRight" class="option-button align button-controller-bar">
            <i class="fa-solid fa-align-right"></i>
        </button>
        <button id="justifyFull" class="option-button align button-controller-bar">
            <i class="fa-solid fa-align-justify"></i>
        </button>
        <button id="indent" class="option-button spacing button-controller-bar">
            <i class="fa-solid fa-indent"></i>
        </button>
        <button id="outdent" class="option-button spacing button-controller-bar">
            <i class="fa-solid fa-outdent"></i>
        </button>

        <!--Show template-->
        <button onclick="showResult()" class="button-controller-bar">
            <i class="fa-solid fa-display"></i>
        </button>

        <!-- Headings -->
        <select id="formatBlock" class="adv-option-button">
            <option value="H1">H1</option>
            <option value="H2">H2</option>
            <option value="H3">H3</option>
            <option value="H4">H4</option>
            <option value="H5">H5</option>
            <option value="H6">H6</option>
        </select>

        <!-- Font -->
        <select id="fontName" class="adv-option-button"></select>
        <select id="fontSize" class="adv-option-button"></select>

        <!-- Color -->
        <div class="input-wrapper">
            <input type="color" id="foreColor" class="adv-option-button"/>
            <label for="foreColor">Font Color</label>
        </div>
        <div class="input-wrapper">
            <input type="color" id="backColor" class="adv-option-button"/>
            <label for="backColor">Highlight Color</label>
        </div>
    </div>

    <form th:action="${pathRequest}" method="post" class="update-news-form">

        <div>
            <label th:for="header" th:text="Header "/>
            <input type="text" th:for="header" th:value="${news.header}" id="create-header" name="header" required
                   placeholder="Enter the title" class="adv-option-button"/>
        </div>

        <div id="scroll-container">
            <div id="text-input" contenteditable="true"></div>
        </div>
        <input type="hidden" th:value="${news.content}" id="hidden-input-content" name="content"/>

        <div class="buttons">
            <button type="submit">Save</button>
            <button type="button" onclick="window.location.href='/news/home'">Cancel</button>
        </div>
    </form>
</div>

<div id="modal-temp" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="main-content">

        </div>
        <div style="padding-top: 10px" id="controller-panel">

        </div>
    </div>

</div>

<script src="/js/editor.js"></script>
<script src="/js/readactor-news-page.js"></script>

</body>
</html>
