<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Rich Text Editor</title>
    <!-- FontAwesome Icons -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
            rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/show-more.css"/>

    <link href="/css/editor.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="options">
        <form class="row g-3" th:method="get" th:action="@{/news/show-more/{id}(id=${news.id})}" >
            <h1 th:text="${news.header}"></h1>
            <p th:text="${news.createDateAt}"></p>
            <p th:text="${news.createTimeAt}"></p>
            <div th:utext="${news.content}"></div>

            <div class="buttons">
                <button type="button" onclick="window.location.href='/news/home'">Return</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
